@charset "utf-8";
/* CSS Document */

* {
   box-sizing: border-box;
   /* border: 1px solid red; */
}

body,
td,
th,
p {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11pt;
   color: #333;
   line-height: 1.5;
}

body {
   background-color: #fdfdfd;
   margin: 0;
   position: relative;
}

ul,
li {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10pt;
   color: #333;
}

a {
   color: orange;
   text-decoration: none;
}

a:hover,
a:focus {
   color: #3397db;
   text-decoration: none;
}

a img {
   border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

#maincontent {
   background-color: #f3f3f3;
   min-height: 100%;
}

.fallback {
   text-align: center;
}

.fallback h2 {
   padding: 50px 0 0 0;
   width: 100%;
}
.fallback p {
   padding: 0 0 50px 0;
}

#footer {
   background-color: #444;
   color: #eee;
   font-size: 8pt;
   letter-spacing: 1px;
   padding: 25px;
   text-align: center;
   text-transform: uppercase;
   height: 70px;
}


/* =====================  Snackbar   ===================== */

#snackbar {
   position: fixed;
   z-index: 1000;
   bottom: 0;
   left: 0;
   width: 100vw;
   height: 70px;
   padding: 20px;
   background: #aaa;
   background: rgba(50, 50, 50, 0.75);
   transform: translateY(70px);
   opacity: 0;
   transition: all ease-in-out 0.4s;
   font: 1.2rem "Roboto","sans-serif";
   color: #eee;
}

#snackbar.visible {
   opacity: 1;
   transform: translateY(0px);
}


/* ====================== Navigation ====================== */
.skip-link {
   position: absolute;
   top: -30px;
   left: 0;
   color: white;
   background: #444;
   z-index: 1100;
   padding: 3px 5px;
   border-radius: 0 0 5px 0;
}

.skip-link:focus {
   top: 0;
}

header {
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 990;
   box-shadow: 0px 1px 2px #777;
}

nav {
   width: 100%;
   height: 80px;
   background-color: #252831;
   text-align: center;
   padding: 22px;
}

nav h1 {
   margin: auto;
}

nav h1 a {
   color: #fff;
   font-size: 0.95rem;
   font-weight: 200;
   letter-spacing: 5px;
   text-transform: uppercase;
}

#maincontent {
   margin-top: 80px;
}


/* ====================== Map ====================== */

#map {
   background: center url(https://maps.googleapis.com/maps/api/staticmap?format=jpg&center=40.722216,-74.005000&zoom=12&size=700x400&scale=1&maptype=roadmap&zoom=12&key=AIzaSyByqOtMGjXh8YoKXzP3O1d4lMdjzInz-zk);
   height: 400px;
   width: 100%;
   background-color: #ccc;
   position: relative;
}

#map-not-available,
#load-map-button {
   color: white;
   font-size: 22px;
   position: absolute;
   padding: 5px 10px;
   background: #aaa;
   background: rgba(150, 150, 150, 0.7);
   text-align: center;
   width: 280px;
   height: 44px;
   border-radius: 5px;
   left: calc(50% - 140px);
   top: calc(50% - 22px);
   margin: auto auto;
}

#load-map-button {
   cursor: pointer;
}

.favorite,
.not-favorite
 {
   position: absolute;
   top: 0px;
   right: 0px;
   border-radius: 0 0 0 10px;
   padding: 10px 40px 10px 8px;
   color: white;
   font:  20px "sans-serif";
   border: none;
}

.favorite {
   background: #3397DB no-repeat right center url("../img/ic_star_white_18dp.png");;}

.not-favorite {
   background: #3397DB no-repeat right center url("../img/ic_star_border_white_18dp.png");;
   background: rgba(52, 151, 219, 0.5) no-repeat right center url("../img/ic_star_border_white_18dp.png");
   opacity: 0.8;
}


@media screen and (min-width: 591px) {
   /*==================== Map =====================*/
   #map {
      background: center url(https://maps.googleapis.com/maps/api/staticmap?format=jpg&center=40.722216,-74.005000&zoom=12&size=700x650&scale=2&maptype=roadmap&zoom=12&key=AIzaSyByqOtMGjXh8YoKXzP3O1d4lMdjzInz-zk);
   }
}



@media screen and (min-width: 801px) {
   #maincontent {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }

   /*==================== Header =====================*/

   nav {
      height: 80px;
   }

   nav h1 a {
      font-size: 1.1rem;
   }

   /*==================== Map =====================*/

   #map-container {
      width:63%;
      order: 1;
   }

   #map {
      height: calc(100vh - 80px)
   }

   /*==================== Snackbar =====================*/

   #snackbar {
      top: 90px;
      bottom: unset;
      left: unset;
      right: 10px;
      width: 500px;
      border-radius: 10px;
      transform: translateY(-50px);
   }
   #snackbar .visible {
      transform: translateY(0px);
   }
}
