#breadcrumb {
   padding: 1px 40px 16px 20px;
   list-style: none;
   background-color: #dedede;
   margin: 0;
   width: 100%;
   height: 0;
   min-height: 50px;
   text-align: left;
}

#breadcrumb ol {
   padding: 0;
}

#breadcrumb li a[aria-current="page"] {
   color:#333;
}

/* Display list items side by side */
#breadcrumb li {
   display: inline;
   font-size: 12pt;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
   padding: 8px;
   color: black;
   content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
   color: #0659a1;
   text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
   color: #01447e;
   text-decoration: underline;
}

.inside #breadcrumb {
   box-shadow: 0px 1px 3px #dedede;
}

#maincontent {
   margin-top: 80px;
}

/* =====================  review FAB   ===================== */

#add-review-button {
   display: none;
   position: absolute;
   top: 15px;
   right: 15px;
   padding: 12px 10px;
   width: 110px;
   height: 46px;
   border-radius: 10px;
   background: #3397DB no-repeat right center url("../img/ic_add_white_48pt.png");
   background-size: 26px 26px;
   color: #eee
}

#add-review-fab {
   display: block;
   position: fixed;
   z-index: 1005;
   bottom: 25px;
   right: 25px;
   width: 80px;
   height: 80px;
   border-radius: 40px;
   box-shadow: 0 2px 3px 0px #555;
   background: #3397DB no-repeat center url("../img/ic_add_white_48pt.png");
   background-size: 36px 36px;
}

#review-dlg {
   position: fixed;
   padding: 0 13px 13px 13px;
   z-index: 1100;
   bottom: 0;
   right: 0;
   width: 100vw;
   height: calc(100vh - 80px);
   background: white;
   transform: translateY(100vh);
   transition: transform ease-in-out .5s;
   overflow-y: scroll;
   box-shadow: 0 3px 6px 0px #aaa;
}

#review-dlg.visible {
   transform: translateY(0px);
}

#review-dlg h3 {
   margin:40px 0 10px 0;
}

#review-dlg div {
   padding: 5px;
}

#review-dlg input,
#review-dlg textarea {
   font-size: 16px;
   padding: 10px;
   border-radius: 4px;
   border: 2px solid grey;
   width: 100%;
}

#review-dlg .rating-input {
   width: 50px;
}


#review-dlg textarea {
   resize: none;
   height: 20vh;
}

label {
   display: inline-block;
   vertical-align: baseline;
   width: 100px;
}

#review-dlg .rating-label {
   width: 50px;
}

#review-dlg button {
   float: right;
   padding: 10px;
   margin-right: 15px;
   color: #eee;
   font: 16px "Roboto", "sans-serif";
   background: grey;
   border: 2px solid grey;
   border-radius: 8px;
}

#review-dlg .cancel-button{
}

#review-dlg .send-button{
   margin-right: 5px;
}

/* ====================== Restaurant Details ====================== */

.inside header {
   position: fixed;
   top: 0;
   width: 100%;
   min-height: 130px;
   z-index: 1000;
}

.inside #map-container {
   background: blue none repeat scroll 0 0;
   height: 35vh;
   width: 100%;
   margin-top: 130px;
}

.inside #map {
   background-color: #ccc;
   height: 100%;
   width: 100%;
}

.inside #footer {
   bottom: 0;
   position: absolute;
   width: 100%;
}

.inside #maincontent {
   margin-top: 130px;
}

#restaurant-name {
   color: #af5e00;
   font-family: Arial, sans-serif;
   font-size: 20pt;
   font-weight: 200;
   letter-spacing: 0;
   margin: 0 0 20px 0;
   text-transform: uppercase;
   line-height: 1.1;
}

#restaurant-img-area .restaurant-img {
   width: 100%;
	border-radius: 20px 0 0 0;
	display: block;
}

#restaurant-address {
   font-size: 12pt;
   margin: 10px 0px;
	text-align: center;
}

#restaurant-cuisine {
   background-color: #333;
   color: #ddd;
   font-size: 12pt;
   font-weight: 300;
   letter-spacing: 10px;
   margin: 0;
   padding: 2px 0;
   text-align: center;
   text-transform: uppercase;
   width: 100%;
}

#restaurant-hours {
	margin: 0 auto;
}

#restaurant-hours td {
   color: #666;
	vertical-align: top;
}

#restaurant-hours .week-day {
   padding: 0 15px 0 0;
}

#restaurant-img-area {
   position: relative;
}

#restaurant-container, #reviews-container {
   border-bottom: 1px solid #d9d9d9;
   border-top: 1px solid #fff;
   padding: 20px;
   width: 100%;
}

#reviews-container {
   position: relative;
   padding: 20px 20px 80px 20px;
}

#reviews-container h2 {
   color: #af5e00;
   font-size: 24pt;
   font-weight: 300;
   letter-spacing: -1px;
   padding-bottom: 1pt;
}

#reviews-list {
   margin: 0;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
}

#reviews-list li {
   background-color: #fff;
   display: block;
   list-style-type: none;
   margin: 0 0 20px 0;
   overflow: hidden;
   padding: 0;
   position: relative;
   width: 100%;
   border-radius: 20px 0 20px 0;
   box-shadow: 0px 1px 6px 0 #ddd;
}

.review-header {
   width: 100%;
   background: #444;
   padding: 15px 20px;
   display: flex;
   justify-content: space-between;
}

.review-header p {
   font-size: 14pt;
   letter-spacing: -1px;
   color: #fff;
   margin: 0;
   padding: 0;
}

.review-header .review-date {
   font-size: 11pt;
   font-weight: 100;
   letter-spacing: 0px;
   padding: 2px 0;
}

.review-body {
   padding: 0 20px;
}

.review-body .review-rating {
   background-color: #af5e00;
   padding: 2px;
   font-size: 11pt;
   font-weight: bold;
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   width: 95px;
}


@media screen and (min-width: 591px) {
   /*==================== Restaurant Details =====================*/
   #restaurant-container {
      display: flex;
      flex-wrap: wrap;
   }

   #restaurant-name {
      width: 100%;
   }

   #restaurant-img-area {
      width: 50%;
   }

   #restaurant-info-area {
      width: 50%;
   }

   #reviews-list {
      flex-wrap: wrap;
   }

   #reviews-list li {
      width: calc(50% - 10px);
		margin: 0 20px 20px 0;
   }

   #reviews-list li:nth-child(even) {
		margin: 0 0 20px 0;
	}
}



@media screen and (min-width: 801px) {
   /*===================== Restaurant Details ====================*/
   .inside #info-container {
      order: 0;
      width:37%;
      margin-bottom: 70px;
      overflow: auto;
      height: calc(100vh - 130px);
   }

   #restaurant-name {
      width: 100%;
   }

   #restaurant-img-area {
      width: 100%;
   }

   #restaurant-info-area {
      width: 100%;
   }

   .inside #map-container {
      order: 1;
      width: 63%;
      margin: 0;
   }

   .inside #map {
      height: calc(100vh - 130px);
   }

   #restaurant-container {
      padding: 0 10px;;
   }

   #restaurant-container #restaurant-name {
      margin: 15px 0;
   }

   #reviews-container {
      order: 2;
      width: 100%;
      padding: 10px;
   }

   #reviews-list li {
      width: 100%;
		margin: 0 0px 20px 0;
   }

   #add-review-fab {
      display: none;
   }

   #add-review-button {
      display: block;
   }

   /*=================== Review Dialog ========================*/
   #review-dlg {
      position: fixed;
      padding: 0 13px 13px 13px;
      z-index: 1100;
      top: calc((100vh / 2) - 23vh);
      left: calc((100vw / 2) - 35vw);
      width: 70vw;
      height: 46vh;
      background: white;
      transform: scale(0.001);
      transition: transform ease-in-out .4s;
      overflow-y: hidden;
   }

   #review-dlg .visible {
      transform: scale(1.0);
   }
}



@media screen and (min-width: 951px) {
   /*==================== Map =====================*/
   #map-container {
      width: 50%;
   }

   .inside #map-container {
      width: 50%;
   }

   /*==================== Info Container =====================*/

   #info-container {
      width: 50%;
   }

   .inside #info-container {
      width: 50%;
   }
}



@media screen and (min-width: 1201px) {
   #restaurant-container {
      display: flex;
      flex-wrap: wrap;
   }

   #restaurant-name {
      width: 100%;
   }

   #restaurant-img-area {
      width: 50%;
      margin-bottom: 20px;
   }

   #restaurant-info-area {
      width: 50%;
   }
}



@media screen and (min-width: 1401px) {
   #map-container {
      width: 60%;
   }

   #info-container {
      width: 40%;
   }
}



@media screen and (min-width: 1650px) {
   .inside #info-container {
      width: 40%;
   }

   .inside #map-container {
      width: 60%;
   }

   #restaurant-container {
      display: flex;
      flex-wrap: wrap;
   }

   #restaurant-name {
      width: 100%;
   }

   #restaurant-img-area {
      width: 50%;
      margin-bottom: 20px;
   }

   #restaurant-info-area {
      width: 50%;
   }
}
