@charset "utf-8";
/* CSS Document */

* {
   box-sizing: border-box;
   /* border: 1px solid red; */
}

body,
td,
th,
p {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11pt;
   color: #333;
   line-height: 1.5;
}

body {
   background-color: #fdfdfd;
   margin: 0;
   position: relative;
}

ul,
li {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10pt;
   color: #333;
}

a {
   color: orange;
   text-decoration: none;
}

a:hover,
a:focus {
   color: #3397db;
   text-decoration: none;
}

a img {
   border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

#maincontent {
   background-color: #f3f3f3;
   min-height: 100%;
}

.fallback {
   text-align: center;
}

.fallback h2 {
   padding: 50px 0 0 0;
   width: 100%;
}
.fallback p {
   padding: 0 0 50px 0;
}

#footer {
   background-color: #444;
   color: #aaa;
   font-size: 8pt;
   letter-spacing: 1px;
   padding: 25px;
   text-align: center;
   text-transform: uppercase;
   height: 70px;
}

/* ====================== Navigation ====================== */
.skip-link {
   position: absolute;
   top: -30px;
   left: 0;
   color: white;
   background: #444;
   z-index: 1100;
   padding: 3px 5px;
   border-radius: 0 0 5px 0;
}

.skip-link:focus {
   top: 0;
}

header {
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 990;
   box-shadow: 0px 1px 2px #777;
}

nav {
   width: 100%;
   height: 80px;
   background-color: #252831;
   text-align: center;
   padding: 22px;
}

nav h1 {
   margin: auto;
}

nav h1 a {
   color: #fff;
   font-size: 0.95rem;
   font-weight: 200;
   letter-spacing: 5px;
   text-transform: uppercase;
}

#breadcrumb {
   padding: 10px 40px 16px 20px;
   list-style: none;
   background-color: #dedede;
   margin: 0;
   width: 100%;
   height: 0;
   min-height: 50px;
   text-align: left;
}

#breadcrumb li a[aria-current="page"] {
   color:#333;
}

/* Display list items side by side */
#breadcrumb li {
   display: inline;
   font-size: 12pt;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
   padding: 8px;
   color: black;
   content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
   color: #0275d8;
   text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
   color: #01447e;
   text-decoration: underline;
}

.inside #breadcrumb {
   box-shadow: 0px 1px 3px #dedede;
}

#maincontent {
   margin-top: 80px;
}

/* ====================== Map ====================== */

#map {
   height: 400px;
   width: 100%;
   background-color: #ccc;
   position: relative;
}

#map p {
   color: white;
   font-size: 22px;
   position: absolute;
   padding: 5px 10px;
   background: #aaa;
   text-align: center;
   width: 220px;
   height: 44px;
   border-radius: 5px;
   left: calc(50% - 110px);
   top: calc(50% - 22px);
   margin: auto auto;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
   width: 100%;
   background-color: #3397DB;
   align-items: center;
   padding: 10px;
}

.filter-options h2 {
   color: white;
   font-size: 0.9rem;
   font-weight: normal;
   line-height: 1;
   margin: 0 0 0 12px;
}

.filter-options select {
   background-color: white;
   border: none;
   font-family: Arial, sans-serif;
   font-size: 11pt;
   height: 48px;
   letter-spacing: 0;
   margin: 10px 0 10px 10px;
   padding: 0 10px;
   width: calc(100% - 20px);
   border-radius: 8px;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
   background-color: #f3f3f3;
   list-style: outside none none;
   margin: 0;
   padding: 10px 20px;
   text-align: center;
	display: flex;
	flex-wrap: wrap;
}

#restaurants-list li {
   background-color: #fff;
   font-family: Arial, sans-serif;
   margin: 0 0 20px 0;
   text-align: left;
   width: 100%;
   display: block;
}

#restaurants-list li div {
   padding: 10px 25px 70px 25px;
}

#restaurants-list article {
   border-radius: 20px 0 20px 0;
   box-shadow: 0px 1px 6px 0 #ddd;
   min-height: 405px;
   position: relative;
}

#restaurants-list .restaurant-img {
   background-color: #ccc;
   background-size:auto;
   display: inline-block;
   margin: 0;
   max-width: 100%;
   min-height: 200px;
   border-radius: 20px 0 0 0;
}


#restaurants-list li h1 {
   color: #f18200;
   font-family: Arial, sans-serif;
   font-size: 14pt;
   font-weight: 200;
   letter-spacing: 0;
   line-height: 1.3;
   margin: 0px 0 10px;
   display: block;
   height: 38px;
   text-transform: uppercase;
}

#restaurants-list p {
   margin: 0;
   font-size: 11pt;
}

#restaurants-list li a {
   background-color: orange;
   border-bottom: 3px solid #eee;
   color: #fff;
   position: absolute;
   bottom: 20px;
   left: 20px;
   font-size: 10pt;
   margin: 15px 0 0;
   padding: 8px 30px 10px;
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside header {
   position: fixed;
   top: 0;
   width: 100%;
   min-height: 130px;
   background: yellow;
   z-index: 1000;
}

.inside #map-container {
   background: blue none repeat scroll 0 0;
   height: 40vh;
   width: 100%;
   margin-top: 130px;
}

.inside #map {
   background-color: #ccc;
   height: 100%;
   width: 100%;
}

.inside #footer {
   bottom: 0;
   position: absolute;
   width: 100%;
}

.inside #maincontent {
   margin-top: 130px;
}

#restaurant-name {
   color: #f18200;
   font-family: Arial, sans-serif;
   font-size: 20pt;
   font-weight: 200;
   letter-spacing: 0;
   margin: 0 0 20px 0;
   text-transform: uppercase;
   line-height: 1.1;
}

#restaurant-img-area .restaurant-img {
   width: 100%;
	border-radius: 20px 0 0 0;
	display: block;
}

#restaurant-address {
   font-size: 12pt;
   margin: 10px 0px;
	text-align: center;
}

#restaurant-cuisine {
   background-color: #333;
   color: #ddd;
   font-size: 12pt;
   font-weight: 300;
   letter-spacing: 10px;
   margin: 0;
   padding: 2px 0;
   text-align: center;
   text-transform: uppercase;
   width: 100%;
}

#restaurant-hours {
	margin: 0 auto;
}

#restaurant-hours td {
   color: #666;
	vertical-align: top;
}

#restaurant-hours .week-day {
   padding: 0 15px 0 0;
}

#restaurant-container, #reviews-container {
   border-bottom: 1px solid #d9d9d9;
   border-top: 1px solid #fff;
   padding: 20px;
   width: 100%;
}

#reviews-container {
   padding: 20px 20px 80px 20px;
}

#reviews-container h2 {
   color: #f58500;
   font-size: 24pt;
   font-weight: 300;
   letter-spacing: -1px;
   padding-bottom: 1pt;
}

#reviews-list {
   margin: 0;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
}

#reviews-list li {
   background-color: #fff;
   display: block;
   list-style-type: none;
   margin: 0 0 20px 0;
   overflow: hidden;
   padding: 0;
   position: relative;
   width: 100%;
   border-radius: 20px 0 20px 0;
   box-shadow: 0px 1px 6px 0 #ddd;
}

.review-header {
   width: 100%;
   background: #444;
   padding: 15px 20px;
   display: flex;
   justify-content: space-between;
}

.review-header p {
   font-size: 14pt;
   letter-spacing: -1px;
   color: #fff;
   margin: 0;
   padding: 0;
}

.review-header .review-date {
   font-size: 11pt;
   font-weight: 100;
   letter-spacing: 0px;
   padding: 2px 0;
}

.review-body {
   padding: 0 20px;
}

.review-body .review-rating {
   background-color: orange;
   padding: 2px;
   font-size: 11pt;
   font-weight: bold;
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   width: 95px;
}



@media screen and (min-width: 591px) {

   /*==================== Info Container =====================*/

   #info-container {
      position: relative;
      box-shadow: 2px 0px 3px #bbb;
   }

	#restaurants-list li {
		width: calc(50% - 10px);
		margin: 0 20px 20px 0;
	}
	#restaurants-list li:nth-child(even) {
		margin: 0 0 20px 0;
	}

   .filter-options select {
      width: calc(50% - 20px);
      display: inline-block;
      margin: 10px 0px 10px 12px;
   }

   #restaurants-list article {
      min-height: 418px;
   }

   /*==================== Restaurant Details =====================*/
   #restaurant-container {
      display: flex;
      flex-wrap: wrap;
   }

   #restaurant-name {
      width: 100%;
   }

   #restaurant-img-area {
      width: 50%;
   }

   #restaurant-info-area {
      width: 50%;
   }

   #reviews-list {
      flex-wrap: wrap;
   }

   #reviews-list li {
      width: calc(50% - 10px);
		margin: 0 20px 20px 0;
   }

   #reviews-list li:nth-child(even) {
		margin: 0 0 20px 0;
	}
}



@media screen and (min-width: 801px) {
   #maincontent {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }

   /*==================== Header =====================*/

   nav {
      height: 80px;
   }

   nav h1 a {
      font-size: 1.1rem;
   }

   /*==================== Info Container =====================*/

   #info-container {
      width: 37%;
      order: 0;
   }

   .filter-options {
      height: 125px;
      position: relative;
      z-index: 950;
      box-shadow: 0px 1px 2px #bbb;
   }

   /* .filter-options::before {
      position: absolute;
      content: "Filter Results";
      top: -20px;
      left: calc(50% - 58px);
      color: white;
      padding: 5px 15px 0 15px;
      background: #3397DB;
      border-radius: 15px 15px 0 0;
   } */

   .filter-options h2 {
      margin: 0;
   }

   .filter-options select {
      display: block;
      margin: 0 0 10px 0;
      width: calc(100% - 10px);
   }

   #restaurants-list {
      overflow: auto;
      height: calc(100vh - 205px);
      padding: 10px;
   }

   #restaurants-list .restaurant_img
   {
      max-height: 400px;
   }

   #restaurants-list li {
		width: 100%;
		margin: 0 0px 20px 0;
	}

   #restaurants-list article {
      min-height: 400px;
   }

   /*==================== Map =====================*/

   #map-container {
      width:63%;
      order: 1;
   }

   #map {
      height: calc(100vh - 80px)
   }

   /*===================== Restaurant Details ====================*/
   .inside #info-container {
      order: 0;
      width:37%;
      margin-bottom: 70px;
      overflow: auto;
      height: calc(100vh - 130px);
   }

   #restaurant-name {
      width: 100%;
   }

   #restaurant-img-area {
      width: 100%;
   }

   #restaurant-info-area {
      width: 100%;
   }

   .inside #map-container {
      order: 1;
      width: 63%;
      margin: 0;
   }

   .inside #map {
      height: calc(100vh - 130px);
   }

   #restaurant-container {
      padding: 0 10px;;
   }

   #restaurant-container #restaurant-name {
      margin: 15px 0;
   }

   #reviews-container {
      order: 2;
      width: 100%;
      padding: 10px;
   }

   #reviews-list li {
      width: 100%;
		margin: 0 0px 20px 0;
   }
}



@media screen and (min-width: 951px) {
   /*==================== Map =====================*/
   #map-container {
      width: 50%;
   }

   .inside #map-container {
      width: 50%;
   }

   /*==================== Info Container =====================*/

   #info-container {
      width: 50%;
   }

   .inside #info-container {
      width: 50%;
   }

   .filter-options {
      height: 70px;
   }

   .filter-options select {
      display: inline-block;
      margin: 0px 10px 10px 0;
      width: calc(50% - 8px);
   }

   .filter-options select:last-of-type {
      margin: 0;
   }

   #restaurants-list {
      overflow: auto;
      height: calc(100vh - 150px);
      padding: 10px;
   }

   #restaurants-list li {
		width: calc(50% - 10px);
		margin: 0 20px 20px 0;
	}
	#restaurants-list li:nth-child(even) {
		margin: 0 0 20px 0;
	}

   #restaurants-list article {
      min-height: 360px;
   }

   #restaurants-list .restaurant-img {
      min-height: 150px;
   }
}



@media screen and (min-width: 1201px) {
   #restaurant-container {
      display: flex;
      flex-wrap: wrap;
   }

   #restaurant-name {
      width: 100%;
   }

   #restaurant-img-area {
      width: 50%;
      margin-bottom: 20px;
   }

   #restaurant-info-area {
      width: 50%;
   }
}



@media screen and (min-width: 1401px) {
   #map-container {
      width: 65%;
   }

   #info-container {
      width: 35%;
   }
}



@media screen and (min-width: 1650px) {
   .inside #info-container {
      width: 35%;
   }

   .inside #map-container {
      width: 65%;
   }

   #restaurant-container {
      display: flex;
      flex-wrap: wrap;
   }

   #restaurant-name {
      width: 100%;
   }

   #restaurant-img-area {
      width: 50%;
      margin-bottom: 20px;
   }

   #restaurant-info-area {
      width: 50%;
   }
}
