@media screen and (min-width: 591px) {
   /*==================== Map =====================*/

   #map {
      background: center url(https://maps.googleapis.com/maps/api/staticmap?format=jpg&center=40.722216,-74.005000&zoom=12&size=700x650&scale=2&maptype=roadmap&zoom=12&key=AIzaSyByqOtMGjXh8YoKXzP3O1d4lMdjzInz-zk);
   }


   /*==================== Info Container =====================*/

   #info-container {
      position: relative;
      box-shadow: 2px 0px 3px #bbb;
   }

	#restaurants-list li {
		width: calc(50% - 10px);
		margin: 0 20px 20px 0;
	}
	#restaurants-list li:nth-child(even) {
		margin: 0 0 20px 0;
	}

   .filter-options select {
      width: calc(50% - 20px);
      display: inline-block;
      margin: 10px 0px 10px 12px;
   }

   #restaurants-list article {
      min-height: 418px;
   }

   /*==================== Restaurant Details =====================*/
   #restaurant-container {
      display: flex;
      flex-wrap: wrap;
   }

   #restaurant-name {
      width: 100%;
   }

   #restaurant-img-area {
      width: 50%;
   }

   #restaurant-info-area {
      width: 50%;
   }

   #reviews-list {
      flex-wrap: wrap;
   }

   #reviews-list li {
      width: calc(50% - 10px);
		margin: 0 20px 20px 0;
   }

   #reviews-list li:nth-child(even) {
		margin: 0 0 20px 0;
	}
}



@media screen and (min-width: 801px) {
   #maincontent {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }

   /*==================== Header =====================*/

   nav {
      height: 80px;
   }

   nav h1 a {
      font-size: 1.1rem;
   }


   /*==================== Info Container =====================*/

   #info-container {
      width: 37%;
      order: 0;
   }

   .filter-options {
      height: 125px;
      position: relative;
      z-index: 950;
      box-shadow: 0px 1px 2px #bbb;
   }

   /* .filter-options::before {
      position: absolute;
      content: "Filter Results";
      top: -20px;
      left: calc(50% - 58px);
      color: white;
      padding: 5px 15px 0 15px;
      background: #3397DB;
      border-radius: 15px 15px 0 0;
   } */

   .filter-options h2 {
      margin: 0;
   }

   .filter-options select {
      display: block;
      margin: 0 0 10px 0;
      width: calc(100% - 10px);
   }

   #restaurants-list {
      overflow: auto;
      height: calc(100vh - 205px);
      padding: 10px;
   }

   #restaurants-list .restaurant_img
   {
      max-height: 400px;
   }

   #restaurants-list li {
		width: 100%;
		margin: 0 0px 20px 0;
	}

   #restaurants-list article {
      min-height: 400px;
   }

   #add-review-fab {
      display: none;
   }

   #add-review-button {
      display: block;
   }

   /*==================== Map =====================*/

   #map-container {
      width:63%;
      order: 1;
   }

   #map {
      height: calc(100vh - 80px)
   }

   /*===================== Restaurant Details ====================*/
   .inside #info-container {
      order: 0;
      width:37%;
      margin-bottom: 70px;
      overflow: auto;
      height: calc(100vh - 130px);
   }

   #restaurant-name {
      width: 100%;
   }

   #restaurant-img-area {
      width: 100%;
   }

   #restaurant-info-area {
      width: 100%;
   }

   .inside #map-container {
      order: 1;
      width: 63%;
      margin: 0;
   }

   .inside #map {
      height: calc(100vh - 130px);
   }

   #restaurant-container {
      padding: 0 10px;;
   }

   #restaurant-container #restaurant-name {
      margin: 15px 0;
   }

   #reviews-container {
      order: 2;
      width: 100%;
      padding: 10px;
   }

   #reviews-list li {
      width: 100%;
		margin: 0 0px 20px 0;
   }

   /*==================== Snackbar =====================*/

   #snackbar {
      top: 90px;
      bottom: unset;
      left: unset;
      right: 10px;
      width: 500px;
      border-radius: 10px;
      transform: translateY(-50px);
   }
   #snackbar .visible {
      transform: translateY(0px);
   }
}



@media screen and (min-width: 951px) {
   /*==================== Map =====================*/
   #map-container {
      width: 50%;
   }

   .inside #map-container {
      width: 50%;
   }

   /*==================== Info Container =====================*/

   #info-container {
      width: 50%;
   }

   .inside #info-container {
      width: 50%;
   }

   .filter-options {
      height: 70px;
   }

   .filter-options select {
      display: inline-block;
      margin: 0px 10px 10px 0;
      width: calc(50% - 8px);
   }

   .filter-options select:last-of-type {
      margin: 0;
   }

   #restaurants-list {
      overflow: auto;
      height: calc(100vh - 150px);
      padding: 10px;
   }

   #restaurants-list li {
		width: calc(50% - 10px);
		margin: 0 20px 20px 0;
	}
	#restaurants-list li:nth-child(even) {
		margin: 0 0 20px 0;
	}

   #restaurants-list article {
      min-height: 360px;
   }

   #restaurants-list .restaurant-img {
      min-height: 150px;
   }
}



@media screen and (min-width: 1201px) {
   #restaurant-container {
      display: flex;
      flex-wrap: wrap;
   }

   #restaurant-name {
      width: 100%;
   }

   #restaurant-img-area {
      width: 50%;
      margin-bottom: 20px;
   }

   #restaurant-info-area {
      width: 50%;
   }
}



@media screen and (min-width: 1401px) {
   #map-container {
      width: 60%;
   }

   #info-container {
      width: 40%;
   }
}



@media screen and (min-width: 1650px) {
   .inside #info-container {
      width: 40%;
   }

   .inside #map-container {
      width: 60%;
   }

   #restaurant-container {
      display: flex;
      flex-wrap: wrap;
   }

   #restaurant-name {
      width: 100%;
   }

   #restaurant-img-area {
      width: 50%;
      margin-bottom: 20px;
   }

   #restaurant-info-area {
      width: 50%;
   }
}
